.title {
    color: brown;
}

.new {
    border: 1px solid greenyellow;
    padding: 10px;
}

.f30 {
    font-size: 30px;
}

.active {
    color: red
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}