.title {
  color: brown;
}

.new {
  border: 1px solid greenyellow;
  padding: 10px;
}

.f30 {
  font-size: 30px;
}

.active {
  color: red;
}

#home {
  background-image: url(https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGhvbWV8ZW58MHx8fHwxNjg3NTY5NzA1&ixlib=rb-4.0.3&q=80&w=1080);
  background-size: cover;
  background-position: center;
  min-height: 300px;
  position: relative;
  
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
